#main
{
 text-align:center;
}

#table>table{
 margin: 0 auto;
}

#table>table td{
 border-collapse: collapse;
 background: #ccc;
 background-color: #ccc;
 color: #f00;
 border: 1px solid #ccc;
 padding: 0;
 width: 2em;
 height: 2em;
 margin: 0.1em;
}